.categorypage-container{
    padding-top:70px;
}

h1{
    text-transform:uppercase;
}

.products-container{
    padding-top:100px;
    display:flex;
    flex-direction:row;
    gap:40px;
    flex-wrap:wrap;
    
}

.product-card {
    position: relative;
    width: 200px;
    height: 250px;
    overflow: hidden;
    padding: 10px;
  }
  .product-card:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);

  }
  
  .product-image {
    width: 100%;
    height: 80%;
  }
  
  .product-info {
  }
  .product-info p:first-child{
    color:gray;
  }
  
  .add-to-cart-icon {
    position: absolute;
    bottom: 40px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius:50%;
    line-height: 40px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .product-card:hover .add-to-cart-icon {
    opacity: 1;
  }